@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap'); /*EB-Garamond*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /*Inter*/
@import "tailwindcss";

@utility flex-center{
    @apply flex items-center justify-center;
}

.eb-garamond-introduction{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: regular;
  color:#FFFFFF;

}

.eb-garamond-Baftcoin{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: regular;
  color: linear-gradient(197.98deg, #999999 12.89%, #3D3D3D 73.42%);

}

.eb-garamond-Bfast{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: regular;
  color: linear-gradient(161.3deg, #9AB5D2 33.59%, #092646 77.13%);

}

.inter-Bfast_sub {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
  color:#777575;

}

.eb-garamond{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: regular;
  color: linear-gradient(197.98deg, #999999 12.89%, #3D3D3D 73.42%);

}

@dark-theme{
    --color-background: #000000;
    --color-text: #FFFFFF;
    --color-primary: #1E90FF;
    --color-secondary: #FF6347;
}
@light-theme{
    --color-background: #FFFFFF;
    --color-text: #000000;
    --color-primary: #1E90FF;
    --color-secondary: #FF6347;
}

#grid_container {
  opacity: 0;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, rgba(0,0,0,1) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: linear-gradient(to top, transparent 0%, rgba(0,0,0,1) 100%);
  mask-repeat: no-repeat;
  mask-size: cover;
}